#laravel
/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

#
# application
#
config/config.php

#
# public
#
public/compiles/*

#
# storage
#
storage/backups/*.sql
storage/cache/*.html
storage/logs/*.txt

#
# tests
#
tests/.phpunit.result.cache
tests/build/
tests/_reports/

#
# docs
#
.phpdoc/*
/docs/*

#
# docker
#
data/xgp.sql

#
# IDE
#
*.code-workspace
nbproject/

#
# composer
#
vendor
composer.lock
