#laravel
/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

#
# application
#
src/config/config.php

#
# public
#
src/public/compiles/*

#
# storage
#
src/storage/backups/*.sql
src/storage/cache/*.html
src/storage/logs/*.txt

#
# tests
#
src/tests/.phpunit.result.cache
src/tests/build/
src/tests/_reports/

#
# docs
#
.phpdoc/*
/docs/*

#
# docker
#
data/xgp.sql

#
# IDE
#
*.code-workspace
nbproject/

#
# composer
#
vendor
composer.lock
