#
# application
#


#
# public
#
src/upload/public/xgp/

#
# tests
#
#src/upload/tests/.phpunit.result.cache
#src/upload/tests/build/
#src/upload/tests/_reports/

#
# docs
#
/docs/*

#
# docker
#
data/xgp.sql
db/

#
# IDE
#
*.code-workspace
nbproject/

#
# composer
#
vendor
composer.lock
