@charset "utf8";

body,
td,
th,
textarea,
body,
table,
p td,
table table td,
th,
td.a,
td.b,
td.c,
td.f,
input,
select,
td.g,
td.h,
td.i,
td.j,
td.k,
td.l,
td.m,
td.n,
td.o,
td.q,
td.r,
td.v,
.style td,
textarea,
p td,
table.s th img,
td.q,
.style td,
.style div a:hover,
h1,
.style div a:link,
.style div a:visited {
    font-size: 14px;
}

body,
td,
th,
textarea,
body,
table,
p td,
table table td,
th,
td.a,
td.b,
td.c,
td.f,
input,
select,
td.g,
td.h,
td.i,
td.j,
td.k,
td.l,
td.m,
td.n,
td.o,
td.q,
td.r,
td.v,
.style td,
textarea,
p td,
table.s th img,
td.q,
.style td,
.style div a:hover,
h1,
.style div a,
.style div a:link,
.style div a:visited,
td {
    font-family: Tahoma, sans-serif;
}

img,
p table,
table table,
table.s th,
td.header,
th.header,
tr.header,
table.header {
    border: 0px;
}

p td,
th,
td.a,
td.h,
td.i,
td.j,
td.k,
td.k input,
td.n,
td.o,
td.q,
h1 {
    text-align: center;
}

td.g,
td.m,
td.n,
td.q,
td.r,
td.v {
    text-align: right;
}

body,
td.c,
td.f,
input,
select,
textarea,
option,
td.g,
td.h
td.i,
td.j,
td.k,
td.k input,
td.l,
td.m,
td.n,
td.o,
td.q,
td.r,
td.s,
div.z,
a,
a.s,
a.t,
.style td,
.style div a:hover {
    color: #E6EBFB;
}

body {
    margin: 1px 0 0 1px;
    background: #040e1e url(img/background.jpg) top right no-repeat fixed;
}

body.style {
    background-image: none;
}

body.style table {
    margin: 0px;
}

body form table th table input {
    width: 60px;
}

th,
td.a,
td.b,
td.c,
td.f,
input,
select,
td.g,
td.h,
td.i,
td.j,
td.k,
td.l,
td.m,
td.n,
td.o,
td.q,
td.r,
td.v,
.style td,
textarea,
p td,
table.s th img {
    border: 1px #415680 solid;
}

th,
td.a,
td.b,
td.c,
td.f,
input,
select,
td.g,
td.h,
td.i,
td.j,
td.k,
td.m,
td.o,
td.q,
td.r,
td.v,
td.s,
.style td,
p td,
td.f,
input,
select,
textarea,
option,
td.l,
td {
    background-color: #344566;
}

th,
td.c {
    padding-left: 3px;
}

th {
    padding-right: 3px;
}

td.a {
    height: 39px;
}

td.b,
td.l {
    padding: 3px;
}

td.c,
td.g,
td.m,
td.n,
td.q,
td.v,
div.z,
a {
    font-weight: bold;
}

td.c {
    background-image: url(img/bg1.gif);
}

textarea,
.style div a,
.style div a:link,
.style div a:visited,
.style div a:hover {
    width: 100%;
}

td.k input {
    text-align: left;
}

td.l {
    vertical-align: top;
    background-image: url(img/bg2.gif);
}

td.m {
    width: 86px;
}

td.n,
table.s th img {
    width: 89px;
}

td.q,
td {
    vertical-align: middle;
}

td.v {
    color: #f7f7f7;
}

table.s th img {
    height: 89px;
}

a,
.style div a:hover {
    text-decoration: none;
}

a:hover {
    color: #CDD7F8;
    text-decoration: underline;
}

.style td {
    border-top: 0px;
}

.style div a,
.style div a:link,
.style div a:visited,
.style div a:hover {
    height: 100%;
}

.style div a,
.style div a:link,
.style div a:visited {
    color: #f2f2f2;
}

.style div a,
td {
    font-size: 11px;
}

.style div a:hover {
    background-color: #415680;
}

.style {
    margin-top: 15px;
}

h1 {
    border-bottom: 0px #344566 solid;
    width: 98%;
}

#darkmatter,
#darkmatter2 {
    font-family: verdana;
    color: #FF8900;
    filter: glow(color=#000000, strength=6);
}

td.header,
th.header,
tr.header,
table.header {
    background-color: transparent;
}

td {
    border-top: 0px solid #415680;
    padding: 1px;
}